# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environment
.env
.venv
env/
venv/
ENV/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Results
results/figures/*
results/tables/*
!results/figures/.gitkeep
!results/tables/.gitkeep
PhyloP/
results/ 
data/backup_raw
results/
src/